@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@layer utilities {

  .pl-bg {
    background: radial-gradient(rgb(164, 184, 163), rgb(116, 151, 119), rgb(69, 74, 69));
    z-index: -10;
  }

  .dark .dk-bg {
    background: radial-gradient(rgba(68, 85, 48, 1), rgba(0, 0, 0, 1));
    z-index: -10;
  }
}

